html
    head
        title='Trk Tracking'
        script(src="/js/tracking.js")
    body
        pre.code.
            (function() {
                var trk = document.createElement('script'); trk.type = 'text/javascript'; trk.async = true;
                trk.src = 'https://trk.wvvw.me/js/tracking.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(trk, s);
            })();
